@font-face {
  font-family: 'Cera Pro Light';
  src: url('../fonts/CeraPro-Light.eot');
  src: url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Light.woff') format('woff'),
  url('../fonts/CeraPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn SC Semibold';
  src: url('../fonts/VollkornSC-SemiBold.eot');
  src: url('../fonts/VollkornSC-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/VollkornSC-SemiBold.woff') format('woff'),
  url('../fonts/VollkornSC-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}